* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.main-content-container {
    background: #FEFEFE;
    color: #8a8a8a;
}

.body-content-container h4 {
    height: 400px;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 100;
}