.dashboardContentContainer {
    padding: 8% 2%;
    text-align: center;
    margin: 0 auto;
    
}

.dashboardBooksTable {
    display: grid;
    grid-template-columns: repeat(2, 10%) 20% repeat(3, 10%) repeat(2, 5%) repeat(2, 10%);
    padding: 20px 0;
    border-bottom: #b2b2b2 solid 1px;
    justify-items: center;
    align-items: center;
}

.dashboardBooksTable a {
    text-decoration: none;
}

.dashboardTitleContainer {
    font-weight: 800;
    font-size: 1.1rem;
}

.dashboardBookItemContainer {
    font-weight: 300;
}

.editBtn, .deleteBtn {
    display: flex;
    align-items: center;
}

.editBtn:hover, .deleteBtn:hover {
    cursor: pointer;
}

.editBtn p {
    font-weight: 400;
    font-size: 1.2rem;
    color: #E2D400;
}

.deleteBtn p {
    font-weight: 400;
    font-size: 1.2rem;
    color: #FA5252;
}

.bookTitle {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}