.nextAndPrevContentCotaniner {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nextAndPrevContentCotaniner p {
    margin: 0 20px;
    padding: 0 5px;
    width: fit-content;
    text-align: center;
    font-size: 1.2rem;
}

.nextAndPrevContentCotaniner p:hover {
    cursor: pointer;
}

.nextAndPrevContentCotaniner img {
    width: 23px;
    height: 23px;
}

.nextAndPrevContentCotaniner img:hover {
    cursor: pointer;
}

.activePageNumber {
    color: #dc00ff;
    font-weight: 400;
}

.inactivePageNumber {
    font-weight: 200;
}