.nextAndPrevContentCotaniner {
    grid-column: span 5;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 8%;
}

.nextAndPrevContentCotaniner p {
    width: 60px;
    text-align: center;
    font-size: 1.2rem;
}

.nextAndPrevContentCotaniner img {
    width: 23px;
    height: 23px;
}

.nextAndPrevContentCotaniner img:hover {
    cursor: pointer;
}

.activePageNumber {
    color: #dc00ff;
    font-weight: 400;
}

.inactivePageNumber {
    font-weight: 200;
}